<ion-content>
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-card-title class="ion-card-title">
        Clientes
        <ion-button >Adicionar Pessoa</ion-button>
      </ion-card-title>
      <ion-card-subtitle>Detalhes da pessoa</ion-card-subtitle>
    </ion-card-header>
    <ion-searchbar placeholder="Procurar pessoa..."></ion-searchbar>
    <ion-card-content>
      <!-- Exemplo de uso do RowComponent -->
      <app-row nome="Cliente 1" endereco="Rua Exemplo, 123" telefone="(31) 9999-9999"></app-row>
      <app-row nome="Cliente 2" endereco="Avenida Principal, 456" telefone="(31) 8888-8888"></app-row>
    </ion-card-content>
  </ion-card>

</ion-content>
