<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>{{ dateTime }}</p>
    <h1>{{ saudacao }},</h1>
    <p>Seja Bem Vindo ao Sistema de Gestão de Notas Fiscais da Toctus.</p>
  </div>

  <div class="custom-card">
    <h1>Contamos com dois Menus para facilitar as Vendas:</h1>

    <div class="custom-content">
        <div class="custom-container">
          <ion-card-header>
            <ion-card-title>Menu de Pessoas</ion-card-title>
            <ion-card-subtitle>Gerenciamento de pessoas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Aqui você pode cadastrar, editar e excluir pessoas.
          </ion-card-content>
          <ion-button>Default</ion-button>
        </div>

        <div class="custom-container">
          <ion-card-header>
            <ion-card-title>Menu de Pessoas</ion-card-title>
            <ion-card-subtitle>Gerenciamento de pessoas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Aqui você pode cadastrar, editar e excluir pessoas.
          </ion-card-content>
          <ion-button>Default</ion-button>
        </div>
    </div>
  </div>
</ion-content>
