#container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 1rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

p {
  font-size: 20px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container h1{
  margin: 1rem 0 0.5rem 0;
}

#container a {
  text-decoration: none;
}

#custom-p{
  color: var(--font-color-white);
  margin-top:3rem;
}


.custom-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 0 auto;
}

.custom-container{
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  ion-card-content{
    padding: 1rem;
    color: var(--font-color-green);
  }
}

.custom-container{
  width: 100%;
  border-radius: 10px;
  ion-card-content{
    padding: 1rem;
    color: var(--font-color-green);
  }
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

